*{
  box-sizing: border-box;
}

body{
  width: 100%;
}

.quote{
  font-family: 'Ubuntu', sans-serif;
  color: rgba(224,255,255 ,1);
  font-size: 1.8rem;
}

.author{
  font-family: 'Ubuntu', sans-serif;
  color: rgba(224,255,255 ,1);
  font-size: 1.3rem;
  line-height: 4rem;
}

.cover{
  display: table;
  text-align: center;
  background: url(assets/night.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
  padding: 0 .645rem;
}